
/* common */
.panel {
    padding: 5px;
}
h1, h2, h3, h4 {
    color: #777;
    /*padding-top: 0px;*/
    /*margin-top: 0px;*/
}


/* drop-able zone*/
.drop {
    width:300px;
    height:155px;
    background-color: #EEE;

    line-height: 145px;
    text-align: center;

    border: dashed 1px #999;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.over {
    background-color: #CCC;
    border-color: #999;
}

/* loading */
.loading {
    width:700px;
    height:500px;
    padding-top: 250px;
    text-align: center;
    color: #777;
}


/* summary table in header*/
.summary {
    width:auto;
}
.summary td {
    padding-left: 3px;
    padding-right: 3px;
}
.summary th {
    padding-left: 3px;
    padding-right: 3px;
    padding-right:20px
}
.summary .total {
    /*background-color: rgb(223, 240, 216);*/
}
.summary .today {
    /*background-color: rgb(217, 237, 247);*/
}
.summary th {
    color: #777;
}


/* result of processing*/
.result {
    width:151px;
    color:white;
    font: 18px Arial,sans-serif;
    margin-left: 40px;
    text-align: center;
}
.result-top {
    height:79px;
    background: url(img/result-top.png) no-repeat;
    padding-top:23px;
}
.result-bottom {
    height:78px;
    background: url(img/result-bottom.png) no-repeat;
    padding-top:17px;
}
.result-label {
    font-size: 14px;
}


/* stats */
.stat-week {
    width:240px;
    background-color: rgb(223, 240, 216);
    margin:2px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.stat-month {
    width:160px;
    background-color: rgb(217, 237, 247);
    margin:2px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.stat-half {
    width:160px;
    background-color: rgb(223, 240, 216);
    margin:2px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.stat-year {
    width:160px;
    background-color: rgb(217, 237, 247);
    margin:2px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.level {
    margin-left:50px;
    margin-top:10px;
    line-height:30px;
    text-align: center;
}
.level span {
    display: inline-block;
    background-color: rgb(223, 240, 216);
    border: solid 1px rgb(180, 200, 170);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    width:40px;
    text-align: center;
    margin-right:5px;
}
