<!DOCTYPE html>
<html ng-app="wordsApp">
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Жи-ши, ча-ща</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body ng-controller="WordsController as ctrl">
    <div class="container-fluid">
        <h3 ng-show="mode=='loading'" class="loading">Загрузка...</h3>
        <div ng-show="mode=='unavailable'" class="ng-hide loading"><h3>API ВКонтакте для вас временно недоступен.</h3><p class="small muted">{{error}}</p><h3>Попробуйте чуть позже.</h3></div>
        <div ng-show="mode=='loaded'" class="ng-hide">
            <section class="panel">
                <div class="pull-left">
                    <h4>Вы уже набрали:</h4>
                    <table class="pull-left summary">
                        <tr class="total">
                            <th>Всего</th>
                            <td class="pull-right longNum">{{data.words|longNum}}</td>
                            <td>{{decline(data.words, 'words')}}</td>
                            <td class="pull-right longNum">{{data.chars|longNum}}</td>
                            <td>{{decline(data.chars, 'chars')}}</td>
                        </tr>
                        <tr class="today">
                            <th>За сегодня</th>
                            <td class="pull-right longNum">{{data.today.words|longNum}}</td>
                            <td>{{decline(data.today.words, 'words')}}</td>
                            <td class="pull-right longNum">{{data.today.chars|longNum}}</td>
                            <td>{{decline(data.today.chars, 'chars')}}</td>
                        </tr>
                    </table>
                </div>
                <div class="pull-left level" title="{{(data.level.limit-data.words)|longNum}} слов до следующего уровня">
                    <div><span>{{data.level.n}}</span> уровень</div>
                    <code class="label label-info">{{(data.level.limit-data.words)|longNum}} слов до следующего уровня</code>
                </div>
                <button ng-click="reset()" class="pull-right btn btn-danger">Очистить</button>
                <div class="clearfix"></div>
            </section>
            <section class="well well-small">
                <h4 style="margin-top:0;">Добавить новый материал на обработку:</h4>
                <!--<div ng-show="false">-->
                    <!--<input type="url" ng-model="url" tooltip="URL текста" placeholder="URL текста" />-->
                    <!--<button ng-click="processUrl()" class="btn">Посчитать</button>-->
                <!--</div>-->
                <div class="drop pull-left" drop-files x-on-drop="processFiles(files)">
                    Перенесите сюда прочитанный файл(ы)
                </div>
                <div class="result pull-left" ng-show="lastSubmit">
                    <div class="result-top">
                        <span class="longNum">{{lastSubmit.words|longNum}}</span> <div class="result-label">{{decline(lastSubmit.words, 'words')}}</div>
                    </div>
                    <div class="result-bottom">
                        <span class="longNum">{{lastSubmit.chars|longNum}}</span> <div class="result-label">{{decline(lastSubmit.chars, 'chars')}}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>

            <section>
                <h4>Статистика:</h4>
                <div class="pull-left stat-week">
                    <h4>За неделю</h4>
                    <span class="longNum">{{data.periods[0].words|longNum}}</span>
                    {{decline(data.periods[0].words, 'words')}}
                </div>
                <div class="pull-left stat-month">
                    <h4>За месяц</h4>
                    <span class="longNum">{{data.periods[1].words|longNum}}</span>
                    {{decline(data.periods[1].words, 'words')}}
                </div>
                <div class="pull-left stat-half">
                    <h4>За полгода</h4>
                    <span class="longNum">{{data.periods[2].words|longNum}}</span>
                    {{decline(data.periods[2].words, 'words')}}
                </div>
                <div class="pull-left stat-year">
                    <h4>За год</h4>
                    <span class="longNum">{{data.periods[3].words|longNum}}</span>
                    {{decline(data.periods[3].words, 'words')}}
                </div>
                <div class="clearfix"></div>
            </section>

        </div>
    </div>

    <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/chardet/chardet.js"></script>
    <script src="js/chardet/codingstatemachine.js"></script>
    <script src="js/chardet/mbcssm.js"></script>
    <script src="js/chardet/charsetprober.js"></script>
    <script src="js/chardet/utf8prober.js"></script>
    <script src="js/chardet/charsetgroupprober.js"></script>
    <script src="js/chardet/sbcharsetprober.js"></script>
    <script src="js/chardet/langcyrillicmodel.js"></script>
    <script src="js/chardet/latin1prober.js"></script>
    <script src="js/chardet/rugroupprober.js"></script>
    <script src="js/chardet/universaldetector.js"></script>

    <script type="text/javascript" src="js/win1251.js"></script>
    <script type="text/javascript" src="js/pdf.js"></script>
    <script type="text/javascript" src="js/pdf.worker.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
