<!DOCTYPE html>
<html ng-app="wordsApp">
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Жи-ши, ча-ща</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="WordsController as ctrl">
    <div class="container">
        <h3 ng-show="mode=='loading'" class="loading">Загрузка...</h3>
        <div ng-show="mode=='unavailable'" class="ng-hide loading"><h3>API ВКонтакте для вас временно недоступен.</h3><p class="small muted">{{error}}</p><h3>Попробуйте чуть позже.</h3></div>
        <div ng-show="mode=='loaded'" class="ng-hide">
            <section class="panel">
                <h4>Вы уже набрали:</h4>
                <table class="pull-left summary">
                    <tr class="total">
                        <th>Всего</th>
                        <td class="pull-right">{{data.words}}</td>
                        <td>слова</td>
                        <td class="pull-right">{{data.chars}}</td>
                        <td>знака</td>
                    </tr>
                    <tr class="today">
                        <th>За сегодня</th>
                        <td class="pull-right"><span>{{data.today.words}}</span></td>
                        <td>слова</td>
                        <td class="pull-right"><span>{{data.today.chars}}</span></td>
                        <td>знака</td>
                    </tr>
                </table>
                <button ng-click="reset()" class="pull-right btn btn-danger">Очистить</button>
                <div class="clearfix"></div>
            </section>

            <section class="hero-unit">
                <h4>Добавить новый материал на обработку:</h4>
                <!--<div ng-show="false">-->
                    <!--<input type="url" ng-model="url" tooltip="URL текста" placeholder="URL текста" />-->
                    <!--<button ng-click="processUrl()" class="btn">Посчитать</button>-->
                <!--</div>-->
                <div class="drop pull-left" drop-files x-on-drop="processFiles(files)">
                    Перенесите сюда прочитанный файл(ы)
                </div>
                <div class="result pull-left" ng-show="lastSubmit">
                    <div class="result-top">
                        {{lastSubmit.words}} <div class="result-label">слов</div>
                    </div>
                    <div class="result-bottom">
                        {{lastSubmit.chars}} <div class="result-label">знаков</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>

            <section class="panel">
                <div>
                    За неделю:
                    {{data.periods[0].words}} слов
                </div>
                <div>
                    За месяц:
                    {{data.periods[1].words}} слов
                </div>
                <div>
                    За полгода:
                    {{data.periods[2].words}} слов
                </div>
                <div>
                    За год:
                    {{data.periods[3].words}} слов
                </div>
            </section>

        </div>
    </div>

    <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

    <script src="chardet/chardet.js"></script>
    <script src="chardet/codingstatemachine.js"></script>
    <script src="chardet/mbcssm.js"></script>
    <script src="chardet/charsetprober.js"></script>
    <script src="chardet/utf8prober.js"></script>
    <script src="chardet/charsetgroupprober.js"></script>
    <script src="chardet/sbcharsetprober.js"></script>
    <script src="chardet/langcyrillicmodel.js"></script>
    <script src="chardet/latin1prober.js"></script>
    <script src="chardet/rugroupprober.js"></script>
    <script src="chardet/universaldetector.js"></script>

    <script type="text/javascript" src="win1251.js"></script>
    <script type="text/javascript" src="pdf.js"></script>
    <script type="text/javascript" src="pdf.worker.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
